.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 50vw;
    max-width: 25rem;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 2.5rem;
    font-family: 'Roboto', sans-serif;

    img {
        width: 40px;
    }

    h1 {
        font-size: 35px;
        font-weight: 900;
    }

    small {
        width: 80%;
        margin-bottom: 1.5rem;

        span {
            font-weight: 600;
        }
    }

    button {
        padding-inline: 8px;
        padding-block: 10px;
        font-weight: 600;
        background-color: #272644;
        border: none;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }

    button:hover{
        background-color: orangered;
        box-shadow: 0 .2rem 2rem orangered;
        transition-duration: 500ms;
    }
}

@media only screen and (max-width: 760px) {

    .container{
        flex-direction: column;
        width: 48vw;
        height: auto;

        img {
            width: 50px;
            padding-top: 100px;
        }

        small {
            margin-bottom: 17rem;
            font-size: 15px;
            width: 100%;
        }

        button {
            font-size: 15px;
            padding-inline: 10px;
            padding-block: 12px;
        }
    }


            
}