@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,100&display=swap');
.desktop{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 80vw;
    max-width: 45rem;
    border-radius: 15px;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 2rem;
    font-family: 'Roboto', sans-serif;

    .phone {
        display: none;
    }
    .text {
        display: flex;
        flex-direction: column;
        padding: 1rem 1.2rem;

        h1 {
            margin-top: -.7rem;
            margin-bottom: -.7rem;
        }
        .checked {
            display: flex;
            align-items: center;
            gap: .5rem;
            margin-bottom: -20px;
        }

        .contain {
            // margin-top: .8rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 2rem 0px .2rem 0px;

            small {
                font-weight: 800;
            }

            .error {
                color: red;
            }
        }
    
    
        input{
            padding-block: 8px;
            padding-inline: 8px;
            margin-bottom: 10px;
            background: none;
            border: 1px solid #dfdbdb;
            border-radius: 5px;
            outline: none;
            color: black;
            letter-spacing: .1em;
            font-size: 12px;
        }

        input:hover{
            border: 1px solid grey;
            transition-duration: 500ms;
        }
    
        button {
            padding-block: 8px;
            padding-inline: 8px;
            background-color: #272644;
            border: none;
            border-radius: 5px;
            font-size: 12px;
            cursor: pointer;
        }

        button:hover{
            background-color: orangered;
            box-shadow: 0 .2rem 2rem orangered;
            transition-duration: 500ms;
        }
    }

    .image {
        padding: 1rem .2rem;
        
        img {
            width: 210px;
            margin-left: 1.2rem;
        }
    }
}

@media only screen and (max-width: 760px) {

    .desktop{
        flex-direction: column;
        width: 48vw;
        padding: 0;
        overflow: hidden;

        .phone{
            display: block;
        }

        .image {
            display: none;
        }

        button {
            margin-bottom: 15px;
        }
    }
            
  }